#loadingimg{
    
    display: block;
    margin-inline: auto;
    width: 40em;
    margin-top: 20px;
}
#loadingtx{
    display: block;
    margin-inline: auto;
    text-align: center;
    color: rgb(92, 90, 90);
    width: 100%;
}

@media (max-width: 420px) {
    #loadingimg{
        width: 20em;
    }
}