body{
    padding: 0;
    margin: 0;
    background-color:#f8f8f9 ;

}
#logo{

    width: 150px;
    height: 150px;
 
    display: inline-block;
}
.header{
    background-color: hsl(39, 100%, 88%);
    display: block;
    justify-content: space-between;
  height: 100px;
}
header > nav{
    display: inline-block;
    
    width: 90%;
    text-align: right;
    position: relative;
    bottom: 100px;
    padding: 10px;
    font-style: italic;
}
.header .navbar a{
    font-size: 20px;
    color:rgb(0, 57, 7);
    text-decoration: none;
    margin: 10px;
}

.header .navbar a:hover{
    color:rgb(110, 144, 0);
}
*{
    font-family: 'Exo', sans-serif;

}
footer{
    text-align: center; padding: 10px; background-color: #f7f7f7; position: fixed; bottom: 0; width: 100%;
}

  .centered-section {
    border: 1px solid grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: white;
}

  .headSignUp{
    color: white;
    background-color: black;
    position: relative;
    bottom: 18px;
    padding: 10px;
}
.headSignUp h1{
    margin-left: 0.5em;
}
.erMsg{
    text-align: center;
    border: 1px solid red;
    background: red;
    color: white;
    padding: -2px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 22px;
    border-radius: 8px;
}

.inTxCmn{
    padding: 10px;
    margin: 10px;
    width: 43%;
}
.inB{
    display: inline-block;
}
.email{
    width: 650px;
    margin-left: 5px;
    position: relative;
    left: 6px;
    
}
.formSection{
    display: block;
    width: 700px;

}
.subBtn{
    margin: 0 auto;
    display: block;
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    margin-bottom: 30px;
    border: 0.5px solid grey;
    background: #6c94cd;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width: 768px) {
   .centered-section{
    width: 80%;  
   }
   .inTxCmn{
    width: 18%;
   }
   .email{
    width:43%;
   }
   .subBtn{
    margin: 3% 10%;
   }
   .erMsg{
    width: 70%;
    font-size: 0.9em;
   }
}
@media (max-width: 420px) {


    .header{
        width: 100%;
    }
    .header .navbar a{
        font-size: 1.2em;
    }

.email{
    width: 80%;
    margin-inline: auto;
    display: block;
    font-size: 1em;
}
.formSection{
    width: 100%;
}

.centered-section{
    width: 95%;  
   }

   .subBtn{
    margin-inline: auto;
    display: block;
    font-size: 1em;
   }
   .erMsg{
    font-size: 1em;
   }
   body{
    overflow-y: hidden; 
   }
}



  .hide{
    display: none;
  }
  .show{
    display: block;
  }